<h1>Sign up</h1>

<%= render "form", user: @user %>

<% action = (user.persisted? ? user_url(user) : users_url) %>
<% method = (user.persisted? ? "patch" : "post" ) %>
<% message = (user.persisted? ? "Update user" : "Create user") %>

<form action="<%= action %>" method="post">
  <%= auth_token_input %>
  <input type="hidden" name="_method" value="<%= method %>">

  <label for="user_first_name">First Name</label>
  <input type="text" id="user_first_name" name="user[first_name]">

  <label for="user_last_name">Last Name</label>
  <input type="text" id="user_last_name" name="user[last_name]">

  <label for="user_email">Email</label>
  <input type="text" id="user_email" name="user[email]">
  <br />

  <label for="user_password">Password</label>
  <input type="password" id="user_password" name="user[password]">
  <br />

  <input type="submit" value="<%= message %>">
</form>
